<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">เข้าสู่ระบบ</h1>
                            </div>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        aria-describedby="emailHelp" value="book" placeholder="Enter Email Address...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="password" placeholder="password" value="1234">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <button type="button"  class="btn btn-primary btn-user btn-block" id="loginBtn">เข้าสู่ระบบ</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">ลืมรหัสผ่าน?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/register">สร้างบัญชีใหม่!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/js/get_login.js"></script>
