<div class="container-fluid bg-custom">
    <div class="row">
        <div class="col-12">
            <a href="http://www.sia.co.th/">
                <img src="../assets/images/banner_logo.jpeg" class="img-fluid imglogo" alt="Responsive image">
            </a>
        </div>
    </div>
</div>

<section class="banner">
    <div>
        <div class="img banner-top mb-1">
            <img class="images-banner w-100 img-fluid" src="../assets/images/banner_new.png" alt="car">
        </div>
    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row mt-3">
                        <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
                            <p style="font-size: 18px; line-height: 30px;">กรุณาพิมพ์ เลขทะเบียนรถ หรือ เลขตัวถังของรถ
                                ที่ต้องการค้นหา</p>
                            <div class="input-group">
                                <input class="form-control border-end-0 border rounded-pill" type="search" value=""
                                    placeholder="เลขทะเบียนรถ หรือ เลขตัวถังของรถ ที่ต้องการค้นหา"
                                    id="search_registration">
                                <button type="button"
                                    class="btn btn-success border-end-0 border rounded-pill ml-3 btn-lg"
                                    id="btn-submit">
                                    ค้นหา
                                </button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                            </div>
                            {{!-- <div id="alert-message"></div> --}}
                            <div class="text mt-2">
                                <span style="color:red; font-weight: 100; line-height: 30px;"> * หมายเหตุ กรุณาระบุ
                                    ทะเบียนรถ หรือ
                                    เลขตัวถังของรถ ให้ครบถ้วน ตัวอย่าง 1กก 1111</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="search">
    {{!-- <h3 class="text-center text-secondary mt-5" id="registration_display">กรุณากรอกรายละเอียดเงื่อนไขเพื่อค้นหา .
        . .</h3> --}}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div id="alert-message" class="alert alert-danger text-center" style="display: none;">
                    ไม่สามารถค้นหาได้ กรุณาใส่รูปแบบข้อมูลให้ถูกต้อง
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl my-5" id="result-registration" style="max-height: 500px;display: none;">
        <div class="registration-result mt-5">
            <div class="registration-title registration-container hide-mobile">
                <p class="small_col">No.</p>
                <p class="md-col">ทะเบียน</p>
                <p>จังหวัด</p>
                <p class="large-col">เลขตัวถัง</p>
                <p class="custom-col">วันที่ประมูล</p>
                <p class="medium-col">ลำดับ</p>
                <p>ยี่ห้อรถ</p>
                <p class="big-col">รุ่น</p>
                <p>สถานที่ประมูล</p>
                <p>สถานะเล่มทะเบียน</p>
            </div>
            {{!-- <div id="s_results" class="my-5">
                <div class="registration-container">
                    <div class="hide-mobile">
                        <p class="small-col">1</p>
                        <p class="md-col">กฉ 3067</p>
                        <p>ตาก</p>
                        <p class="large-col">MNTCC2D23Z0076718</p>
                        <p>08-01-2024</p>
                        <p class="medium-col">2028</p>
                        <p>NISSAN</p>
                        <p class="big-col">NAVARA NP300 DOUBLE CAB CALBRE BLACK EDITION 2.5 EL</p>
                        <p>สำนักงานใหญ่</p>
                        <p class="">รอเล่มทะเบียน</p>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/js/search_registration.js"></script>