<h4>รายงานรถรอเล่มทะเบียนเกิน 30 วัน</h4>
<div class="card">
    <div class="card-header text-right"><a class="btn bg-gradient-success" href="/dashboard/exportExcel" role="button" style="color: white;">Excel</a></div>
    <div class="card-body">
        <div class="table-responsive main_tbl_chk" style="max-height: 500px; margin-top:20px;">
            <table id="tbl_report" class="table table-bordered display nowrap">
                <thead>
                    <tr>
                        <th class="nowrap">No</th>
                        <th class="nowrap">ทะเบียน</th>
                        <th class="nowrap">เลขตัวถัง</th>
                        <th class="nowrap">รุ่น</th>
                        <th class="nowrap">ยี่ห้อ</th>
                        <th class="nowrap">จังหวัด</th>
                        <th class="nowrap">ชื่อผู้ประมูล</th>
                        <th class="nowrap">สถานที่ประมูล</th>
                        <th class="nowrap">สถานะเล่มทะเบียน</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        
    </div>
</div>
<script src="/js/report.js"></script>