/* ------ default ------ */
* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    padding: 0;
    width: 100%;
    background: #fff;
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'IBM Plex Sans Thai',  sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Banner Logo */
.imglogo {
    height: 90px;
}

.bg-custom {
    background-color: #00247c;
    
}

.registration-container{
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin: 10px 0px;
}
.registration-container.registration-title{
    background: #00247c;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
}
.registration-container p{
    display: inline-block;
    width: calc(10.11% - 15px);
    margin: 0px 5px;
}

#s_results > div > div.hide-mobile > p.large-col{
    width: 165px;
}
#s_results > div:nth-child(1) > div.hide-mobile > p:nth-child(1){
    width: 30px !important;
}

p.small_col{
    width: 30px !important;
}
p.medium-col{
    width: 50px !important;
}
p.large-col{
    width: 165px !important;
}
#s_results > div > div.hide-mobile > p.medium-col {
    width: 50px !important;
}
p.custom-col{
    width: 80px;
}
#s_results > div > div.hide-mobile > p:nth-child(5){
    width: 80px;
}

.md-col{
    width: 70px !important;
}
.registration-container .title, .registration-container .desc{
    display: inline-block;
    width: calc(50% - 25px);
    margin: 10px 10px 10px;
    font-size: 16px;
}
.registration-container .title{
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
}
.registration-container .desc{
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
}
.hide-desktop{
    display: block;
}
.hide-mobile{
    display: none;
}

.big-col {
    vertical-align: top;
    width: 250px !important;
}

@media (min-width: 576px) { 
    .hide-desktop {
        display: block; 
    }
    .hide-mobile {
        display: none; 
    }
    
}

@media (min-width: 768px) {
    .hide-desktop {
        display: block; 
    }
    .hide-mobile {
        display: none; 
    }    
    
}
@media (min-width: 992px) { 
    .hide-desktop {
        display: none; 
    }
    .hide-mobile {
        display: block; 
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .big-col {
        width: 70px !important;
    }
}

.swal2-popup {
    font-size: 1rem !important;
}
.card {
    border-radius: 20px 20px 20px 20px;
    padding-bottom:  40px;
}
#s_results {
    font-size: 14px;
}





